name: 'Close cards moved to Done Lane'

on: 
  schedule:
    # Once an hour
    - cron: 0 * * * *
  
  workflow_dispatch:
    # Manual trigger

jobs:
  issue-state-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Close cards moved to Done Lane
        uses: dasmerlon/project-issue-state-sync@v2
        with:
          github_token: ${{ secrets.ADD_TO_PROJECT_PAT }}
          owner: avniproject
          project_number: 2
          closed_statuses: Done
          open_statuses: New Issues,Triaged,Focus Items,Hold,In Analysis,In Analysis Review,Ready,QA Failed,In Progress,Code Review Ready,In Code Review,Code Review with Comments,QA Ready,In QA